* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    position: fixed;
    background-color: #111111;
    width: 100%;
    padding: 15px 0;
    z-index: 10;
}

footer {
    position: sticky;
    margin-bottom: 0px;
    width: 100%;
}


.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5 auto;
    padding: 20px 20px;
}


.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}


.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
    
}

.nav-links a:hover {
    color: #ffcc00;
}

.nav-links a.active {
    color: #ffcc00;
    font-weight: bold;
    border-bottom: 2px solid;
}

.home-callout-title {
    display: flex;
    padding-top: 40px;
    padding-left: 20vw;
    padding-right: 15vw;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
}

.home-callout-title img {
    margin-right: 50px;
    border-radius: 50%;
}

.projects-home-callout-title {
    display: flex;
    padding-top: 40vh;
    padding-left: 20vw;
    padding-right: 20vw;
    max-width: 100%;
    align-items: center;
    justify-content: center;
}

.project-info-callout-title {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    padding-bottom: 50px;
    padding-left: 10vw;
    padding-right: 10vw;
    justify-content: center;
    color: white;
    background-color: #232323;
}

.project-info-callout-title b {
    max-width: 800px;
    padding-bottom: 25px;
}

.project-info-features-title {
    display: flex;
    padding-top: 5vh;
    padding-left: 10vw;
    padding-right: 10vw;
    max-width: 100%;
}

.project-info-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: center;
}

.project-info-body:nth-child(even) {
    flex-direction: row-reverse;
}

.project-info-text {
    display: flex;
    flex-direction: column; 
    text-align: left;

}

.project-button {
    align-items: center;
    max-width: 700px;
    background-color: initial;
    background-image: linear-gradient(#464d55, #25292e);
    border-radius: 8px;
    border-width: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: expo-brand-demi,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 18px;
    height: 52px;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    overflow: hidden;
    padding: 0 32px;
    text-align: center;
    text-decoration: none;
    transition: all 150ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .project-button:hover {
    box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
    opacity: .85;
  }
  
  .project-button:active {
    outline: 0;
  }
  
  .project-button:focus {
    box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
  }
  
  @media (max-width: 420px) {
    .project-button {
      height: 48px;
    }
  }
  

@media (max-width: 1500px) {
    .project-info-body {
        flex-direction: column !important;
    }

    .project-info-text {
        margin-left: 20px;
        margin-right: 20px;
    }

    img {
        max-width: 100%;
        height: 100%;
    }

    
}

@media (max-width: 1133px){
    .contact-callout-title{
        font-size: 9px;
    }
    .contact-info-body{
        font-size: 10px;
    }
    .home-callout-title{
        padding-bottom: 50px;
    }

    .project-info-text{
        font-size: 18px;
        padding-bottom: 50px;
    }

    .projects-home-callout-title{
        font-size: 9px;
    }

    .project-info-body{
        font-size: 9px;
    }
}

@media (max-width: 1000px){
    .home-callout-title {
        display: flex;
        flex-direction: column !important;
        padding-top: 150px;
        padding-left: 20vw;
        padding-right: 15vw;
        max-width: 100%;
        font-size: 10px;
        align-items: center;
        justify-content: space-between;
    }

    
}

.contact-callout-title {
    display: flex;
    padding-top: 40vh;
    padding-left: 20vw;
    padding-right: 20vw;
    max-width: 100%;
    align-items: center;
    justify-content: center;
}

.contact-info-body {
    display: flex;
    padding-top: 50px;
    padding-left: 20vw;
    padding-right: 15vw;
    align-items: center;
    justify-content: center;
}

